[project]
name = "qarts"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "mephisto28", email = "462464479@qq.com" }
]
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
